:root {
  --bgc-basic-color: #ffffff;
  --primary-tex-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
}
/* ----------reset---------- */

p,
h1,
h2,
h3,
h4,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-tex-color);
  background-color: var(--bgc-basic-color);
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.active:hover,
.active:active {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
  margin: 0 auto;
}
/*---------- header ----------*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

.logo > span {
  color: var(--primary-tex-color);
}

.site-nav-list:not(:last-child) {
  margin-right: 50px;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .link-nav.current {
  color: #2196f3;
}

.link-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-nav {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.auth-nav.list {
  display: flex;
  align-items: center;
}

.auth-nav-list:not(:last-child) {
  margin-right: 50px;
}

.auth-nav-link {
  color: var(--secondary-text-color);
}

/*---------- main index.html -----------*/

.hero {
  background-color: #2f303a;
}

.hero-content {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bgc-basic-color);
}

.hero-buton {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid var(--accent-color);

  display: block;
  margin: 0px auto;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--bgc-basic-color);
  background-color: var(--accent-color);
}

.hero-buton-activ:hover,
.hero-buton-activ:active {
  background: #188ce8;
}

.specifics {
  padding: 94px 0px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.specifics-list {
  display: flex;
}

.specifics-card:not(:first-child) {
  margin-left: 30px;
}

.specifics-list:not(:last-child) {
  margin-left: 30px;
}

.specifics-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-tex-color);
}

.specifics-content {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.occupation {
  padding-bottom: 94px;
}

.occupation-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.occupation-list {
  display: flex;
  margin-left: -30px;
}

.occupation-item {
  width: calc(100% / 3 -30px);
  margin-left: 30px;
}
/* <!-- team --> */
.team {
  background-color: #f5f4fa;
  padding: 94px 0px;
}

.team-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-list {
  display: flex;
  margin: -15px;
}

.team-item {
  width: calc(100% / 4 -30px);
  margin: 15px;
}

.team-text {
  padding: 30px 0;
}

.team-subtitle {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-content {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

/*---------- foter -----------*/

.footer {
  background-color: #2f303a;

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.footer-logo > span {
  color: var(--bgc-basic-color);
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--bgc-basic-color);
}

.footer-web a {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-web {
  display: flex;
  flex-direction: column;
}

.auth-nav-link.link {
  margin-top: 9px;
}
/*---------- main portfolio.html ----------*/

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter:hover,
.filter:active {
  color: #ffffff;
  background-color: #2196f3;
}

.filter-list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.filter-items + .filter-items {
  margin-left: 8px;
}

.filter-button {
  height: 38px;

  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--primary-tex-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-disc {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-tex-color);
}

.portfolio-subtitle {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}
